.main {
    background: radial-gradient(50% 50% at 50% 50%, #0D0A01 0%, rgba(242, 233, 200, 0) 24.6%);
    background: #000;
    width: 100vw;
}

#hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.hero_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#herotext {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
}

.amazing_header {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center
}

.community_header {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center
}

.community {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: inherit;
}

.box {
    height: 150px;
    width: 150px;
    background: #201F1F;
    border-radius: 9px;
}

.community_img {
    height: 100px;
    width: 145px;
    border-radius: 9px;
}

.community_vid {
    height: 100px;
    width: 150px;
    border-radius: 9px;
}

@media(max-width: 767px) {
    .hero_container {
        display: block;
    }
    #armsmoky {
        margin-top: 30px;
    }
    .amazing_header {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .community {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 80vw;
    }
}